<footer>
    <div class="contact">
      <h3>ЗВ'ЯЗОК З НАМИ</h3>
      <p><img src="images/point.png" alt="POINT"> <span class="text">вул. Івасюка, 84, Івано-Франківськ, Івано-Франківська область, 76000</span></p>
      <p><img src="images/phone.png" alt="NUMBER"> <span class="text">(480) 555-0103</span></p>
      <p><img src="images/mail.png" alt="MAIL"> <span class="text">curtis.weaver_example.com</span></p>
    </div>
    <div class="social-media">
      <h3>СЛІДКУЙ ЗА НАМИ У СОЦМЕРЕЖАХ!</h3>
      <div class="icons">
        <a href="#"><img src="images/face.png" alt="Facebook"></a>
        <a href="#"><img src="images/insta.png" alt="Instagram"></a>
        <a href="#"><img src="images/telega.png" alt="Telegram"></a>
        <a href="#"><img src="images/X.png" alt="Twitter"></a>
      </div>
    </div>
  </footer>
  