<div class="partner-groups">
    <h2 style="display: inline;">ГРУПИ ПАРТНЕРІВ</h2>
    <div id="filter" class="filter" onclick="toggleFilterOptions()">Фільтр ▼</div>
    <div id="filterOptions" class="filter-options">
        <p><input type="checkbox"> Місто</p>
        <p><input type="checkbox"> Категорія</p>
        <p><input type="checkbox"> Компанія</p>
    </div>
    <ul class="main-menu">
        <li>
            <button class="dropbtn">
                <span class="icon"><img src="images/0.png"></span>
                <p>Заклади харчування</p>
            </button>
            <ul class="sub-menu">
                <li><a href="#">Підпункт 1</a></li>
                <li><a href="#">Підпункт 2</a></li>
                <li><a href="#">Підпункт 3</a></li>
            </ul>
        </li>
        <li>
            <button class="dropbtn" >
                <span class="icon"><img src="images/1.png"></span>
                <p>Готелі</p>
            </button>
            <ul class="sub-menu">
                <li><a href="#">Підпункт 1</a></li>
                <li><a href="#">Підпункт 2</a></li>
                <li><a href="#">Підпункт 3</a></li>
            </ul>
        </li>
        <li>
            <button class="dropbtn" >
                <span class="icon"><img src="images/2.png"></span>
                <p>Будівельні товари</p>
            </button>
            <ul class="sub-menu">
                <li><a href="#">Підпункт 1</a></li>
                <li><a href="#">Підпункт 2</a></li>
                <li><a href="#">Підпункт 3</a></li>
            </ul>
        </li>
        <li>
            <button class="dropbtn" >
                <span class="icon"><img src="images/3.png"></span>
                <p>Забудовники</p>
            </button>
            <ul class="sub-menu">
                <li><a href="#">Підпункт 1</a></li>
                <li><a href="#">Підпункт 2</a></li>
                <li><a href="#">Підпункт 3</a></li>
            </ul>
        </li>
        <li>
            <button class="dropbtn" >
                <span class="icon"><img src="images/4.png"></span>
                <p>Меблі</p>
            </button>
            <ul class="sub-menu">
                <li><a href="#">Підпункт 1</a></li>
                <li><a href="#">Підпункт 2</a></li>
                <li><a href="#">Підпункт 3</a></li>
            </ul>
        </li>
        <li>
            <button class="dropbtn" >
                <span class="icon"><img src="images/5.png"></span>
                <p>Продуктові рітейли</p>
            </button>
            <ul class="sub-menu">
                <li><a href="#">Підпункт 1</a></li>
                <li><a href="#">Підпункт 2</a></li>
                <li><a href="#">Підпункт 3</a></li>
            </ul>
        </li>
        <li>
            <button class="dropbtn" >
                <span class="icon"><img src="images/6.png"></span>
                <p>Побітові рітейли</p>
            </button>
            <ul class="sub-menu">
                <li><a href="#">Підпункт 1</a></li>
                <li><a href="#">Підпункт 2</a></li>
                <li><a href="#">Підпункт 3</a></li>
            </ul>
        </li>
        
    </ul>
</div>